body {
	align-content: center;
	text-align: center;
	font-family: Times New Roman;
}


.buttons{
	background-color: black;
	color: black;
	border: black 1px solid;
	aspect-ratio: 1/1;
	padding: 0px;
	margin: 0px;
	postion: relative;
}

.gameBoard {
  display: grid;
  border: black 2px solid;
  width: 50%;
  column-gap: 1px;
  row-gap: 2px;
  padding: 0px;
  margin: auto;
}

em {
	font-style: normal;
}

#alive {
	background-color: rgb(184, 20, 6);
	color: white;
}

#dead {
	background-color: black;
	color: white;
}

#directions {
	text-align: left;
	margin: 20%;
	margin-top: 0px;
	margin-bottom: 30px;
	list-style-position: inside;
}

.button {
	background-color: rgb(184, 20, 6);
	color: white;
	margin-top: 30px;
	line-height: 50px;
	width: 100px;
	border-radius: 5px;
}

#title {
	background-color: rgb(184, 20, 6);
	color: white;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 30px;
	padding-bottom: 30px;

}

#divider2 {
	margin-bottom: 35px;
}